<!-- BEGIN ba-contacts  -->
<div class="ba-contacts" id="contacts">
    <div class="ba-contacts__content">
    	<p>
    	If you have a project, or need some new photos , or just want to say hi please write me at
    	</p>
    	<a class="ba-contacts__link" href="mailto:orl.karosya@gmail.com">orl.karosya@gmail.com</a>
    	<!-- BEGIN ba-contacts__socials  -->
    	<div class="ba-contacts__socials">
    	    <p>
    	    	you can also know more about me and my work here:
    	    </p>
    	    <ul class="ba-socials">
    	      <li>
    	        <a href="#" class="ba-socials__icon">
    	          <i class="ion-social-facebook"></i>
                  Facebook
    	        </a>
    	      </li>
    	      <li>
    	        <a href="#" class="ba-socials__icon">
    	          <i class="ion-social-instagram-outline"></i>
                  Instagram
    	        </a>
    	      </li>

    	  </ul>
    	</div>
    	<!-- END ba-contacts__socials -->
    </div>
</div>
<!-- END ba-contacts -->
