 <header class="ba-header">
   <nav class="navbar ">
    <!--  <div class="container"> -->
     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
       <button type="button" class="ba-nav-button navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <svg

        width="40px"
        height="30px"
        viewBox="0 0 39.695621 41.109501"
        sodipodi:docname="menu-icon.svg">
        <defs
        id="defs2" />
        <g
        inkscape:label="Layer 1"
        inkscape:groupmode="layer"
        id="layer1"
        transform="translate(-109.13785,-30.006965)">
        <path
        style="fill:#e8012a;stroke-width:2.22109008"
        d="m 115.02889,70.096876 c 6.01955,-0.555143 15.41679,-0.550559 20.88276,0.0102 5.46598,0.560736 0.54089,1.014943 -10.94463,1.009338 -11.48552,-0.0056 -15.95767,-0.4644 -9.93813,-1.019543 z m -4.46477,-19.802584 c 3.56392,-0.609139 9.82875,-0.617564 13.92185,-0.01871 4.09308,0.598831 1.17715,1.097218 -6.47987,1.107515 -7.65702,0.0103 -11.0059,-0.479666 -7.44198,-1.088805 z m 6.92429,-19.887862 c 7.37229,-0.530058 19.90195,-0.532993 27.84368,-0.0065 7.94174,0.52647 1.90988,0.960153 -13.40415,0.963741 -15.31403,0.0036 -21.81181,-0.42716 -14.43953,-0.957217 z"
        id="path21"
        inkscape:connector-curvature="0" />
      </g>
    </svg>
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">
   <img src="../assets/img/logo-ko.png">
 </a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse text-right" id="bs-example-navbar-collapse-1">
 <ul class="navbar-nav navbar-right ba-navbar__list">
   <li>
     <a href="#">
      home
    </a>
  </li>

  <li>
   <a href="#works">
    works
  </a>
</li>

<li>
 <a href="#about">
  about
</a>
</li>

<li>
 <a href="#contacts">
  contacts
</a>
</li>

</ul>
</div><!-- /.navbar-collapse -->
<!--  </div> --><!-- /.container-fluid -->
</nav>
</header>
